@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		padding: 0px;
		margin: 0px;
	}

	body {
		@apply font-lexend;
	}

	.circle {
		width: 809px;
		height: 809px;
		@apply blur-[250px];
		@apply z-[-2];
	}

	.circle-small {
		width: 500px;
		height: 500px;
		@apply blur-[250px];
		@apply z-[-2];
	}

	.containerPrimary {
		@apply bg-white;
		@apply bg-opacity-10;
		@apply backdrop-blur-sm;
		@apply border-[1px];
		@apply rounded-xl;
		@apply border-white;
		@apply border-opacity-50;
	}

	.circleButton {
		@apply bg-white;
		@apply bg-opacity-10;
		@apply p-[16px];
		@apply border-[1px];
		@apply rounded-full;
		@apply backdrop-blur-sm;
		@apply border-white;
		@apply border-opacity-50;
	}

	@media (max-width: 1000px) {
		.circle {
			width: 75%;
			height: 75%;
		}
	}
}
